/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light gray background */
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  text-align: center;
  color: #2c3e50; /* Dark blue for the title */
  margin: 20px 0;
}